<div class="accounts-zone">

  <owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let user of friendinfo; index as i">
      <ng-template carouselSlide>
        <div class="account-box">
          <div class="accountprofile" *ngIf=friendinfo><img [src]='friendinfo[i].avatar' /></div>
          <div class="accountname" *ngIf=friendinfo><span>{{friendinfo[i].username}}</span></div>

          <div class="accountfollow">
            <span class="rcstatus" *ngIf="friendinfo[i].follower">회원님을 팔로우합니다</span>
            <span class="rcstatus" *ngIf="!friendinfo[i].follower">{{friendinfo[7].username}}외 1명이 팔로우합니다</span>
          </div>

          <button *ngIf="!friendinfo[i].following" class="newfollow" (click)="followchange(i)">팔로우</button>
          <button *ngIf="friendinfo[i].following" class="followbtn" (click)="open(followmodal)">팔로잉</button>

          <ng-template #followmodal let-modal class="modal-dialog modal-dialog-centered followmodal" role="document">
            <div class="modal-body" *ngIf=friendinfo>
              <img [src]="friendinfo[i].avatar" />
              <p>{{friendinfo[i].username}}님의 팔로우를 취소하시겠어요?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="unfollowbtn" (click)="followchange(i)">팔로우 취소</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="cancelbtn" data-dismiss="modal" (click)="modal.dismiss()">취소</button>
            </div>
          </ng-template>

        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>

</div>
