<div class="header">
    <button class="logo_button">
        <a [href]="logoUrl"><img [src]="logoImage"/></a>
    </button>
    
    <app-header-search></app-header-search>
    
    <div class="navigation">
        <button class="navigation_icon">
            <a [href]="homeUrl"><img [src]="homeIcon"/></a>
        </button>
        <button class="navigation_icon">
            <a [href]="exploreUrl"><img [src]="exploreIcon"/></a>
        </button>
        <button class="navigation_icon">
            <img [src]="likeIcon"/>
        </button>
        <button class="navigation_icon">
            <a [href]="mypageUrl"><img [src]="mypageIcon"/></a>
        </button>
    </div>
</div>
