<div class="myprofile"><img [src]='profiles2?.data[5].avatar' /></div>
<div class="myinfo">
  <span class="myid">{{users[9].username}}<br></span>
  <span class="myname">{{users[9].name}}</span>
</div>

<div class="recommand">
  <span class="rctitle">회원님을 위한 추천</span>
  <span class="rcall">모두보기</span>

  <div class="rcprofile"><img [src]='profiles1?.data[0].avatar' /></div>
  <div class="rcinfo">
    <span class="rcid">{{users[0].username}}<br></span>
    <span class="rcstatus">회원님을 팔로우합니다</span>
  </div>
  <span class="rcfollow">팔로우</span>

  <div class="rcprofile"><img [src]='profiles1?.data[1].avatar' /></div>
  <div class="rcinfo">
    <span class="rcid">{{users[1].username}}<br></span>
    <span class="rcstatus">회원님을 팔로우합니다</span>
  </div>
  <span class="rcfollow">팔로우</span>

  <div class="rcprofile"><img [src]='profiles1?.data[2].avatar' /></div>
  <div class="rcinfo">
    <span class="rcid">{{users[2].username}}<br></span>
    <span class="rcstatus">회원님을 팔로우합니다</span>
  </div>
  <span class="rcfollow">팔로우</span>

  <div class="rcprofile"><img [src]='profiles1?.data[3].avatar' /></div>
  <div class="rcinfo">
    <span class="rcid">{{users[3].username}}<br></span>
    <span class="rcstatus">회원님을 팔로우합니다</span>
  </div>
  <span class="rcfollow">팔로우</span>

  <div class="rcprofile"><img [src]='profiles1?.data[4].avatar' /></div>
  <div class="rcinfo">
    <span class="rcid">{{users[4].username}}<br></span>
    <span class="rcstatus">회원님을 팔로우합니다</span>
  </div>
  <span class="rcfollow">팔로우</span>

</div>

<app-footer></app-footer>