.myprofile button {
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 30px;
  float: left;
  width: 60px;
  height: 60px;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

.myprofile img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.myinfo {
  position: relative;
  float: left;
  margin-top: 60px;
  margin-left: 10px;
  margin-bottom: 30px;
  text-decoration: none;
}

.myid {
  font-size: 13px;
  font-weight: bold;
  color: rgb(59, 59, 59);
  text-decoration: none;
}

.myname {
  font-size: 12px;
  color: rgb(148, 148, 148);
}

.recommandtitle {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 50px 160px 60px;
  grid-template-rows: 40px;
  margin-left: 30px;
}

.rctitle {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 14px;
  font-weight: bold;
  color: rgb(148, 148, 148);
}

.rcall {
  grid-column-start: 3;
  grid-column-end: 4;
  font-size: 12px;
  color: black;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
}

.recommand {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 50px 160px 60px;
  grid-template-rows: 50px;
  margin-left: 30px;
}

.rcprofile {
  grid-column-start: 1;
  grid-column-end: 2;
}

.rcprofile button {
  float: left;
  width: 40px;
  height: 40px;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

.rcprofile img {
  float: left;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.rcinfo {
  float: left;
  margin-left: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.rcid {
  font-size: 13px;
  font-weight: bold;
  color: rgb(59, 59, 59);
  text-decoration: none;
}

.rcstatus {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px;
  font-size: 11px;
  color: rgb(148, 148, 148);
}

.rcfollow {
  font-size: 12px;
  color: rgb(31, 126, 214);
  text-align: right;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

.rcunfollow {
  font-size: 12px;
  color: black;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

.modal-body img {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 40px;
}

.modal-body p {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.unfollowbtn {
  width: 100%;
  background-color: white;
  border: none;
  color: red;
  font-size: 14px;
  font-weight: bold;
  outline: none;
}

.cancelbtn {
  width: 100%;
  background-color: white;
  border: none;
  font-size: 14px;
  outline: none;
}
