<div class="access">
  <p class="title">앱 및 웹사이트</p>
  <ul ngbNav #nav="ngbNav" class="nav-pills">

    <li ngbNavItem class="tab1">
      <a ngbNavLink>활성</a>
      <ng-template ngbNavContent href="#active">
        <div id="active">
          <p>Instagram을 사용하여 로그인하고 최근에 사용한 앱과 웹사이트로, 회원님이 공유하도록 선택한 정보를 요청할 수 있습니다.</p>
          <span>Instagram 계정에 액세스하도록 허용한 앱이 없습니다.</span>
        </div>
      </ng-template>
    </li>

    <li ngbNavItem class="tab2">
      <a ngbNavLink>만료됨</a>
      <ng-template ngbNavContent>
        <p>Instagram을 사용하여 로그인한 앱과 웹사이트이며 한동안 사용하지 않았을 수 있습니다. 회원님이 이전에 공유한 정보에는 계속 액세스할 수 있지만 개인 정보를 추가로 요청하는 권한은
          만료되었습니다.</p>
        <span>Instagram 계정에 대한 액세스 권한을 보유한 앱 중 만료된 앱이 없습니다.</span>
      </ng-template>
    </li>

  </ul>
  <div [ngbNavOutlet]="nav" class="navout"></div>
</div>
