<form>
  <div class="form-group">
    <div class="left"><img class="profilepicture" src="{{myinfo.avatar}}"></div>
    <div class="right">
      <div class="blank"></div>
      <span class="myusername">{{myinfo.username}}</span><br />
    </div>
  </div>


  <div class="form-group">
    <div class="left"><label for="pastpswd">이전 비밀번호</label>
    </div>
    <div class="right"><input type="password" class="form-control" id="pastpswd"></div>
  </div>

  <div class="form-group">
    <div class="left">
      <label for="newpswd">새 비밀번호</label></div>
    <div class="right"><input type="password" class="form-control" id="newpswd">
    </div>
  </div>

  <div class="form-group">
    <div class="left">
      <label for="pswdcheck">새 비밀번호 확인</label>
    </div>
    <div class="right">
      <input type="password" class="form-control" id="pswdcheck">
    </div>
  </div>

  <div class="form-group">
    <div class="left"></div>
    <div class="right"><button type="submit" class="btn btn-primary">비밀번호 변경</button>
      <br /><br />
      <a class="randomtext" href="#">비밀번호를 잊으셨나요?</a>
    </div>
  </div>
</form>
