<div class="feedzone" *ngFor="let user of friendinfo; index as i">

  <div class="writerinfo" *ngIf=friendinfo>
    <div class="writerpicture"><img [src]='friendinfo[i].avatar'></div>
    <div class="writerid"><span>{{friendinfo[i].username}}</span></div>
    <div class="writerlocation"><span>{{friendinfo[i].city}}</span></div>
  </div>

  <div class="postimage" *ngIf=friendinfo><img [src]='friendinfo[i].postimage' /></div>
  <div class="blank"></div>

  <div class="icons">
    <app-like></app-like>
    <button class="chat" (click)="photoIndex(i)"><a routerLink="/photo"><img [src]="chat"></a></button>
    <button class="share"><img [src]="share"></button>
  </div>

  <div class="postwriting" *ngIf=friendinfo>
    <span class="name">{{friendinfo[i].username}}</span>
    <span class="content"> {{friendinfo[i].post}}</span>
  </div>

  <app-comment></app-comment>

</div>
