<div class="privacy">

  <p class="title">계정 공개 범위</p>
  <div class="form-check">
    <input class="form-check-input" type="checkbox">
    <label class="form-check-label">비공개 계정</label>
  </div>
  <p class="example">계정이 비공개 상태인 경우 회원님이 승인한 사람만 Instagram에서 회원님의 사진과 동영상을 볼 수 있습니다. 기존 팔로워는 영향을 받지 않습니다.</p>
  <hr />


  <p class="title">활동 상태</p>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" checked>
    <label class="form-check-label">활동 상태 표시</label>
  </div>
  <p class="example">Instagram 앱에서 최근 활동한 시간 정보가 회원님이 팔로우하는 계정 및 메시지를 보낸 모든 사람에게 표시됩니다. 이 설정을 해제하면 다른 계정의 활동 상태를 볼 수
    없습니다.</p>
  <hr />


  <p class="title">스토리 공유</p>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" checked>
    <label class="form-check-label">공유 허용</label>
  </div>
  <p class="example">사람들이 회원님의 스토리를 메시지로 공유할 수 있습니다</p>
  <hr />


  <p class="title">댓글</p>
  <a href="#">댓글 설정 수정</a>
  <hr />


  <p class="title">내가 나온 사진</p>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="myphoto" value="option1" checked>
    <label class="form-check-label">자동으로 추가</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="myphoto" value="option2">
    <label class="form-check-label">수동으로 추가</label>
  </div>
  <p class="example">회원님이 나온 사진을 프로필에 추가할 방법을 선택하세요. 회원님이 나온 사진에 대해 더 알아보기</p>
  <hr />


  <p class="title">계정 데이터</p>
  <a href="#">계정 데이터 보기</a>
  <hr />

  <p class="title">2단계 인증</p>
  <a href="#">2단계 인증 설정 수정</a>
  <hr />

  <p class="title">데이터 다운로드</p>
  <a href="#">다운로드 요청</a>
  <hr />

  <p class="title">공개 범위 및 보안 도움말</p>
  <a href="#">지원</a>

</div>
