<div class="tabcontent" *ngFor="let item of tagdata, index as i">
  <div class="myimage">
    <img [src]="tagdata[i]" (click)="open(showphoto)" />

    <ng-template #showphoto>

      <button type="button" class="close" aria-label="Close" (click)="dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>

      <div class="photoframe">

        <img class="postimage" [src]="tagdata[i]" />

        <div class="textarea">
          <img class="profilepicture" [src]="friendinfo[i].avatar" />
          <span class="username">{{friendinfo[i].username}}</span>
          <hr />
          <img class="profilepicture" [src]="friendinfo[i].avatar" />
          <span class="username">{{friendinfo[i].username}}</span>
          <span class="writing"> {{friendinfo[i].post}}</span>
          <br />
          <img class="profilepicture" [src]="friendinfo[8-i].avatar" />
          <span class="username">{{friendinfo[8-i].username}}</span>
          <span class="writing"> {{friendinfo[8-i].comment}}</span>
          <hr />
          <div (click)="like = !like">
            <img class="empty" *ngIf="like" [src]="heartempty" />
            <img class="solid" *ngIf="!like" [src]="heartsolid" />
          </div>

          <div class="showcomment">           
            <div *ngFor='let item of comments; let i = index'>
              <span class="name">{{myinfo.username}} </span>
              <span class="commentcontent">{{comments[i]}}</span></div><br/>
          </div>
          
          <div class="makecomment">
            <input placeholder='댓글 달기...' #comment />
            <button (click)="addComment(comment)">
              게시
            </button>
          </div>
          
        </div>

      </div>

    </ng-template>

  </div>
</div>

<div class="bigblank"></div>
