.tabcontent .myimage{
    display: block;
    float: left;
    margin: 0;
    width: 33.333%;
    height: 33.333%;
}

.tabcontent .myimage img{
    margin: 2%;
    width: 96%;
    height: 96%;
}

.imagebtn{
    outline: none;
    border: none;
    background-color: transparent;
}

.blank{
    width: 100%;
    height: 20px;
}

.bigblank{
    width: 100%;
    height: 500px;
}

.close{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    outline: none;
}

.photoframe{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    height: 55vh;
    text-align: left;
}

.postimage {
    width: 100%;
    height: 100%;
}

.textarea{
    padding: 20px;
}

.profilepicture{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 15px;
    margin-right: 20px;
}

.username{
    font-size: 14px;
    font-weight: bold;
}

.writing{
    font-size: 14px;
}

.icons{
    width: 100%;
    height: 40px;
}

app-like{
    display: block;
    width: 42px;
    height: 32px;
    float: left;
}
.chat{
    outline: none;
    border: none;
    background-color: transparent;
    float: left;
    margin-left: 10px;
}

.share{
    outline: none;
    border: none;
    background-color: transparent;
    float: left;
    margin-left: 5px;
}

.bookmark{
    margin: 0 10px 0 0;
    display: block;
    float: right;
}

.sharemodal .close{
    outline: none;
}

.sharemodal .modal-header{
    text-align: center;
}

.sharemodal .modal-header span{
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.sharemodal .modal-body{
    padding: 10px 0;
}

.sharemodal .modal-body button{
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    text-align: left;
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
}

.sharemodal .modal-footer{
    padding: 10px 0;
}

.sharemodal .cancelbtn{
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    text-align: left;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding-left: 45px;
}

.name{
    font-size: 13px;
    font-weight: bold;
}

.commentcontent{
    font-size: 13px;
}

.makecomment{
    border-top: 1px solid rgb(207, 207, 207);
}

.makecomment input{
    width: 90%;
    height: 50px;
    font-size: 13px;
    border: none;
    outline: none;
}

.makecomment button{
    float: right;
    margin-top: 20px;
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(59, 114, 235);
    font-size: 15px;
    font-weight: bold;
    outline: none;
}
