<div class="tabcontent" *ngFor="let item of postdata, index as i">
  <div class="myimage">
    <button class="imagebtn" (click)="open(showphoto)"><img [src]="postdata[i]"></button>

    <ng-template #showphoto>

      <button type="button" class="close" aria-label="Close" (click)="dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>

      <div class="photoframe">

        <img class="postimage" [src]="postdata[i]" />

        <div class="textarea">
          <img class="profilepicture" [src]="myinfo.avatar" />
          <span class="username">{{myinfo.username}}</span>
          <hr />
          <img class="profilepicture" [src]="myinfo.avatar" />
          <span class="username">{{myinfo.username}}</span>
          <span class="writing"> {{myinfo.post}}</span>
          <br />
          <img class="profilepicture" [src]="friendinfo[i].avatar" />
          <span class="username">{{friendinfo[i].username}}</span>
          <span class="writing"> {{friendinfo[i].comment}}</span>
          <hr />
          <div class="icons">
            <app-like></app-like>
            <button class="chat"><img [src]="chat"></button>
            <button class="share" (click)="open(sharemodal)"><img [src]="share"></button>
            <div class="bookmark" (click)="mark = !mark">
              <img class="empty" *ngIf="mark" [src]="bookmarkEmpty"/>
              <img class="solid" *ngIf="!mark" [src]="bookmarkSolid"/>
            </div>
          </div>

          <div class="showcomment">           
            <div *ngFor='let item of comments; let i = index'>
              <span class="name">{{myinfo.username}} </span>
              <span class="commentcontent">{{comments[i]}}</span></div><br/>
          </div>
          
          <div class="makecomment">
            <input placeholder='댓글 달기...' #comment />
            <button (click)="addComment(comment)">
              게시
            </button>
          </div>
          
        </div>

      </div>

    </ng-template>

  </div>
</div>

<ng-template #sharemodal let-modal class="modal-dialog modal-dialog-centered modal-sm" role="document">
  <div class="sharemodal">
    <div class="modal-content">
      <div class="modal-header">
        <span>공유</span>
        <button type="button" class="close" data-dismiss="modal" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <button><img [src]="faIcon"/>  Facebook에 공유</button>
        <button><img [src]="meIcon"/>  Messenger에 공유</button>
        <button><img [src]="twIcon"/>  Twitter에 공유</button>
        <button><img [src]="emIcon"/>  이메일로 공유</button>
        <button><img [src]="liIcon"/>  링크 복사</button>
        <button type="button" class="cancelbtn" data-dismiss="modal" (click)="modal.dismiss()">취소</button>
      </div>
    </div>
</div>
</ng-template>