<div class="email">
  <p class="title">받아보기:</p>

  <div class="form-check">
    <input type="checkbox" value="" id="check1">
    <label for="check1">
      의견 이메일
    </label>
    <small class="form-text text-muted">Instagram에서 의견을 보내보세요.</small>
  </div>

  <div class="form-check">
    <input type="checkbox" value="" id="check2">
    <label for="check2">
      알림 이메일
    </label>
    <small class="form-text text-muted">확인하지 않은 알림을 받아보세요.</small>
  </div>

  <div class="form-check">
    <input type="checkbox" value="" id="check3">
    <label for="check3">
      제품 이메일
    </label>
    <small class="form-text text-muted">Instagram 도구에 관한 팁을 확인해보세요.</small>
  </div>

  <div class="form-check">
    <input type="checkbox" value="" id="check4">
    <label for="check4">
      뉴스 이메일
    </label>
    <small class="form-text text-muted">Instagram의 새로운 기능에 대해 자세히 알아보세요.</small>
  </div>

  <div class="form-check">
    <input type="checkbox" value="" id="check5">
    <label for="check5">
      SMS 메시지
    </label>
    <small class="form-text text-muted">SMS로 알림을 받아보세요.</small>
  </div>

</div>
